.card-service {
  overflow: hidden;
  height: 650px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 50px auto;
  width: 80%;
}

.card-service img {
  height: 100%;
  width: 300px;
  object-fit: cover;
}

.card-service h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 50px;
  text-align: center;
}

.card-service h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px auto;
  text-align: center;
}

.card-service p {
  font-size: 16px;
  line-height: 2;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-service .card-service-infos {
  padding: 25px;
  margin: 0 auto;
}

.btn-flat {
  color: #1f2d36;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e9c44d;
  transition: 0.5s ease;
  border: none;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1);
  width:fit-content;
}

.btn-flat:hover {
  background: #801f38;
  color: white;
}
