
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "herobanner.gif" %>);">
  <div class="container">
    <h1>Have you always dreamed of having superpowers?</h1>
    <p> No need to dream anymore, just book a day with a mighty SuperHero</p>
    <%= link_to services_path do %>
    <button class="btn btn-flat">Discover all SuperHeroes</button>
    <% end %>
  </div>
</div>
