.form-button {
  color: #1f2d36;
  padding: 8px 24px;
  border-radius: 4px;
  background: #e9c44d;
  transition: 0.5s ease;
  border: none;
  box-shadow: 0 15px 35px rgba(50, 50, 93, .1);
}

.form-button:hover {
  background: #801f38;
  color: white;
}
